{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}



<style>
      .container {
        display: flex;
        align-items: center;
        justify-content: space-between
      }

      @media (max-width: 600px) { /* Adjust breakpoint as needed */
      .container {
        display: flex;
        flex-direction: column; /* Stacks image above text */
      }
      .text {
        font-size: 20px;
        padding-left: 0px;
        padding-right: 0px;
        text-align: justify;
      }
      .container img {
        display: block;
        margin: 0 auto 0.5rem auto; /* center the image horizontally, add bottom spacing */
      }
      .image {
        flex-basis: 0px;
        flex-grow: 0;
        flex-shrink: 0;
      }
      }
      img {
/*         max-width: 80% */
        width: 275px; /* Set the desired horizontal size */
        height: auto; /* Maintain the aspect ratio */
      }
      .image {
        flex-basis: 275px;
        flex-grow: 0;
        flex-shrink: 0;
      }
      .text {
        font-size: 20px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: justify;
      }

      .tag {
        display: inline-block;
        color: white;
        padding: 4px 10px;
        margin: 4px 6px 0 0;
        border-radius: 999px;
        font-size: 0.75rem;
        /* font-family: sans-serif; */
        /* text-transform: lowercase; */
        letter-spacing: 0.5px;
      }

      /* Default background color */
      .tag {
        background-color: #0066cc;
      }

      /* Custom colors for specific tags */
      .tag-spt-phases {
        color: #e1c9d6;
        background-color: #713e5a;
      }

      .tag-mixed-states {
        color: #f1d3b1;
        background-color: #794b16;
      }

      .tag-crystalline-symmetries {
        color: #d5d2cd;
        background-color: #4D4942;
      }

      .tag-quant-ph {
        color: #c8dfcf;
        background-color: #3c6748;
      }

      .tag-hep-th {
        color: #a8e2ff;
        background-color: #006DA3;
      }

      .tag-cond-mat {
        color: #fdc0ae;
        background-color: #992C0B;
      }

/*       .title {
        color: black !important; 
        text-decoration: none !important; 
        transition: color 0.3s ease !important;
      }
    
      .title:hover {
        color: #007BFF !important; 
        text-decoration: underline !important;
      } */
/*       h2 {
        color: #000;
        position: relative;
        text-decoration: none;      
      }
      h2::before {
        background: hsl(45 100% 70%);
        content: "";
        inset: 0;
        position: absolute;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.5s ease-in-out;
        z-index: -1;
      }
      h2:hover::before {
        transform: scaleX(1);
        transform-origin: left;
      } */

    .archive__item-excerpt {
    text-align: justify !important;
    }
</style>

<div class="publication-item container" data-tags="{{ post.tags | join: ',' }}">
  <div class="{{ include.type | default: "list" }}__item">
    <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
      {% if include.type == "grid" and teaser %}
        <div class="archive__item-teaser">
          <img src=
            {% if teaser contains "://" %}
              "{{ teaser }}"
            {% else %}
              "{{ teaser | prepend: "/images/" | prepend: base_path }}"
            {% endif %}
            alt="">
        </div>
      {% endif %}

<!--       <h2 class="archive__item-title" itemprop="headline">
        {% if post.collection == 'publications' %}
          {{ title }}
        {% elsif post.link %}
          {{ title }}
        {% else %}
          {{ title }}
        {% endif %}
      </h2> -->

            <!-- <h2 class="archive__item-title" itemprop="headline">
        {% if post.collection == 'publications' and post.link %}
          <a href="{{ post.link }}" rel="noopener noreferrer" target="_blank">{{ title }}</a>
        {% elsif post.collection == 'publications' %}
          {{ title }}
        {% elsif post.link %}
          <a href="{{ post.link }}" rel="noopener noreferrer" target="_blank">{{ title }}</a>
        {% else %}
          {{ title }}
        {% endif %}
      </h2> -->

      <h2 class="archive__item-title" itemprop="headline">
        {{ title }}
      </h2>



      {% if post.read_time %}
      {% elsif post.read_time and post.collection == 'posts' %}
        <p class="page__meta"><i class="fa fa-clock" aria-hidden="true"></i> {% include read-time.html %}</p>
      {% endif %}

      {% if post.collection == 'teaching' %}
        <p> {{ post.type }}, <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
      {% elsif post.collection == 'publications' %}
        {% if post.abstract %}
          <details><summary>Abstract</summary>
          <blockquote>
          <p>
          {{ post.abstract }}
          </p>
          </blockquote>
          </details>
        {% endif %}

        <!-- citation and icon code -->
<!--       <p> -->
<!--         {% if post.citation %}
          <p style="high">{{ post.citation }}</p>
        {% endif %} -->
<!--         <br> -->
<!--         {% if post.link %}
          <a href="{{ post.link }}"><i class="fas fa-fw fa-link zoom" aria-hidden="true"></i></a>
        {% endif %} -->
        {% if post.paperurl %}
          <a href="{{ post.paperurl }}"><i class="fas fa-fw fa-file-pdf zoom" aria-hidden="true"></i></a>
        {% endif %}
        {% if post.code %}
          <a href="{{ post.code }}"><i class="fas fa-fw fa-code zoom" aria-hidden="true"></i></a>
        {% endif %}
        {% if post.github %}
          <a href="{{ post.github }}"><i class="fab fa-fw fa-github zoom" aria-hidden="true"></i></a>
        {% endif %}
<!--         </p> -->
      {% elsif post.collection == 'posts' and post.date %}
        <p class="page__date"><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> <time datetime="{{ post.date | default: "1900-01-01" | date_to_xmlschema }}">{{ post.date | default: "1900-01-01" | date: "%B %d, %Y" }}</time></p>
      {% endif %}

      {% if post.citation %}
        <p style="high">{{ post.citation }}</p>
      {% endif %}

      {% if post.excerpt and post.collection == 'research' and site.read_more != 'enabled' %}
        <p class="archive__item-excerpt" itemprop="description">
          <a href="{{ base_path }}{{ post.url }}" rel="permalink">
          <div class="container">
            {{ post.excerpt }}
            <div class="overlay">
            </div>
          </div>
          </a>
        </p>
      {% elsif post.excerpt and site.read_more != 'enabled' %}
      <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
      {% elsif post.excerpt and site.read_more == 'enabled' %}
        <p class="archive__item-excerpt" itemprop="description">
          <p>{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}
            <strong>
              <a href="{{ base_path }}{{ post.url }}" rel="permalink"> Read more</a>
            </strong>
          </p>
        </p>
      {% endif %}

      {% if post.journal or post.arxiv %}
        <p class="pub-meta">
          {% if post.journal %}
            <a href="{{ post.link | default: '#' }}">{{ post.journal }}</a>
          {% endif %}
          {% if post.year %}
           ({{ post.year }})
          {% endif %}
          {% if post.journal and post.arxiv %}
            &nbsp;|&nbsp;
          {% endif %}
          {% if post.arxiv %}
            <a href="https://arxiv.org/abs/{{ post.arxiv }}">arXiv:{{ post.arxiv }}</a>
          {% endif %}
        </p>
      {% endif %}

      {% if post.tags %}
        <p class="archive__item-tags">
          {% for tag in post.tags %}
            <span class="tag tag-{{ tag | slugify }}">{{ tag }}</span>
          {% endfor %}
        </p>
      {% endif %}

    </article>
  </div>
  {% if post.imgurl %}
    <div class="image">
          <img src="{{ post.imgurl }}">
    </div>
  {% endif %}
</div>
